@font-face {
  font-family: "CormorantGaramond";
  src: url("../fonts/CormorantGaramond-Bold.woff");
  src: url("../fonts/CormorantGaramond-Bold.woff2");
  font-weight: 700;
  display: swap;
}
@font-face {
  font-family: "CormorantGaramond";
  src: url("../fonts/CormorantGaramond-SemiBold.woff");
  src: url("../fonts/CormorantGaramond-SemiBold.woff2");
  font-weight: 600;
  display: swap;
}
@font-face {
  font-family: "CormorantGaramond";
  src: url("../fonts/CormorantGaramond-Medium.woff");
  src: url("../fonts/CormorantGaramond-Medium.woff2");
  font-weight: 500;
  display: swap;
}
@font-face {
  font-family: "CormorantGaramond";
  src: url("../fonts/CormorantGaramond-Regular.woff");
  src: url("../fonts/CormorantGaramond-Regular.woff2");
  font-weight: 400;
  display: swap;
}
@font-face {
  font-family: "SourceCodePro";
  src: url("../fonts/SourceCodePro-Regular.woff");
  src: url("../fonts/SourceCodePro-Regular.woff2");
  font-weight: 400;
  display: swap;
}
@font-face {
  font-family: "SourceSansPro";
  src: url("../fonts/SourceSansPro-Regular.woff");
  src: url("../fonts/SourceSansPro-Regular.woff2");
  font-weight: 400;
  display: swap;
}
@font-face {
  font-family: "SourceSansPro";
  src: url("../fonts/SourceSansPro-Light.woff");
  src: url("../fonts/SourceSansPro-Light.woff2");
  font-weight: 300;
  display: swap;
}
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
*:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
*:focus {
  outline: none;
}

*::-webkit-input-placeholder {
  color: #c0c0c0;
  opacity: 1;
}

*:-moz-placeholder {
  color: #c0c0c0;
  opacity: 1;
}

*::-moz-placeholder {
  color: #c0c0c0;
  opacity: 1;
}

*:-ms-input-placeholder {
  color: #c0c0c0;
  opacity: 1;
}

ul, li, ol {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: #000;
}

body input:focus:required:invalid,
body textarea:focus:required:invalid {
  color: #000;
}

body input:required:valid,
body textarea:required:valid {
  color: #000;
}

*::-webkit-scrollbar {
  width: 14px;
}

*::-webkit-scrollbar-track {
  background: #0C0C0C;
}

*::-webkit-scrollbar-thumb {
  background-color: #977E4B;
}

html, body {
  font-size: 0.8333333333vw;
  height: 100%;
}
@media only screen and (max-width: 1300px) {
  html, body {
    font-size: 1.2307692308vw;
  }
}
@media only screen and (max-width: 1024px) {
  html, body {
    font-size: 1.5625vw;
  }
}
@media only screen and (max-width: 390px) {
  html, body {
    font-size: 4.1025641026vw;
  }
}

body {
  font-family: "CormorantGaramond";
  font-weight: 500;
  background-color: #000000;
  color: #fff;
  overflow-x: hidden;
}
body.lock {
  overflow: hidden;
}
@media only screen and (min-width: 730px) {
  body.lock .page {
    padding-right: 14px;
  }
}

.page {
  overflow: hidden;
  min-height: 100vh;
}

.container, .container-obj {
  width: 1520px;
  margin: 0 auto;
}
@media only screen and (max-width: 1920px) {
  .container, .container-obj {
    padding: 0 calc(10px + -10 * (100vw - 1300px) / 620);
    width: calc(1300px + 220 * (100vw - 1300px) / 620);
  }
}
@media only screen and (max-width: 1300px) {
  .container, .container-obj {
    padding: 0 calc(10px + -10 * (100vw - 1060px) / 240);
    width: calc(1060px + 40 * (100vw - 1060px) / 240);
  }
}
@media only screen and (max-width: 1060px) {
  .container, .container-obj {
    padding: 0;
    width: 932px;
  }
}
@media only screen and (max-width: 1024px) {
  .container, .container-obj {
    padding: 0 calc(10px + -10 * (100vw - 390px) / 634);
    width: calc(390px + 506 * (100vw - 390px) / 634);
  }
}
@media only screen and (max-width: 390px) {
  .container, .container-obj {
    padding: 0;
    width: 338px;
  }
}

.arrow, .close {
  cursor: pointer;
  stroke: #fff;
  stroke-width: 1px;
  width: 24px;
  height: 24px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.arrow:hover, .close:hover {
  stroke-width: 1.5px;
}
.arrow.rotate, .close.rotate {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}
.arrow.down, .close.down {
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
}
.arrow.up, .close.up {
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 25px 0 19px 0;
}
.header-logo {
  width: 30px;
  height: 30px;
}
.header__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header__wrapper-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header__wrapper-nav-item {
  padding: 4px;
  margin: 0 30px;
}
.header__wrapper-nav-item a {
  font-size: 18px;
  font-weight: 400;
  color: #A19E9E;
}
.header__wrapper-nav-item.active a {
  font-weight: 700;
  color: #fff;
}
.header__wrapper-shopping {
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 60px;
}
.header__wrapper-shopping-icon {
  width: 24px;
  height: 24px;
  margin-right: 10px;
  stroke: #977E4B;
  stroke-width: 1px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.header__wrapper-shopping-icon:hover {
  stroke-width: 1.5px;
}
.header__wrapper-shopping-counter {
  font-family: "SourceSansPro";
  font-size: 16px;
  font-weight: 400;
  color: #977E4B;
  text-decoration: underline;
}

.burger {
  cursor: pointer;
  display: none;
  position: relative;
  width: 14px;
  height: 9px;
  margin: 7px 5px;
}
.burger:hover span, .burger:hover::before, .burger:hover::after {
  height: 1.5px;
}
.burger span {
  position: absolute;
  background-color: #fff;
  width: 100%;
  height: 1px;
  top: 4px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.burger::before, .burger::after {
  content: "";
  width: 100%;
  background-color: #fff;
  position: absolute;
  height: 1px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.burger::before {
  top: 0;
}
.burger::after {
  bottom: 0;
}
.burger.active:before {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  top: 4px;
}
.burger.active:after {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  bottom: 4px;
}
.burger.active span {
  -webkit-transform: scale(0);
          transform: scale(0);
}

.breadcrumb {
  width: 100%;
  border-top: 1px #575656 solid;
  border-bottom: 1px #575656 solid;
}
.breadcrumb__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 12px 0;
}
.breadcrumb__wrapper .arrow {
  margin-right: 36px;
}
.breadcrumb__wrapper-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.breadcrumb__wrapper-list-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.breadcrumb__wrapper-list-item a {
  font-family: "SourceSansPro";
  font-size: 16px;
  font-weight: 300;
  color: #A19E9E;
}
.breadcrumb__wrapper-list-item a:hover {
  font-weight: 400;
}
.breadcrumb__wrapper-list-item.active a {
  font-weight: 400;
  color: #fff;
}
.breadcrumb__wrapper-list .breadcrumb__wrapper-list-item:not(:last-child)::after {
  content: "";
  background-image: url("../img/arrow-icon.svg");
  background-repeat: no-repeat;
  background-size: cover;
  width: 24px;
  height: 24px;
  display: block;
  margin: 0 8px;
}

.catalog {
  position: relative;
}
.catalog__header {
  padding: 24px 0 32px 0;
}
.catalog__header-title {
  font-family: "CormorantGaramond";
  font-size: 28px;
  font-weight: 600;
}
.catalog__nav {
  position: relative;
  width: 100%;
  border-top: 1px #575656 solid;
  border-bottom: 1px #575656 solid;
}
.catalog__nav::after {
  position: absolute;
  top: 50%;
  content: "";
  width: 100%;
  height: 1px;
  background-color: #575656;
  display: block;
}
.catalog__nav__wrapper {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}
.catalog__nav__wrapper-item {
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-right: 1px #575656 solid;
  padding: 0 10px 0 24px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.catalog__nav__wrapper-item:hover {
  background-color: #0C0C0C;
}
.catalog__nav__wrapper-item:nth-child(4), .catalog__nav__wrapper-item:nth-child(8) {
  border-right: none;
}
@media only screen and (min-width: 1061px) {
  .catalog__nav__wrapper-item:first-child, .catalog__nav__wrapper-item:nth-child(5) {
    padding: 0 10px 0 0;
  }
}
.catalog__nav__wrapper-item.active {
  background-color: #0C0C0C;
}
.catalog__nav__wrapper-item.active .catalog__nav__wrapper-item-name {
  color: #977E4B;
}
.catalog__nav__wrapper-item-name {
  font-size: 20px;
  white-space: normal;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.catalog__nav__wrapper-item-name .close {
  display: none;
}
.catalog__nav__wrapper-item-ph {
  width: 72px;
  height: 72px;
}
.catalog__queries {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 44px 0;
}
.catalog__queries-filter {
  cursor: pointer;
  width: 24px;
  height: 24px;
  margin-right: 8px;
  fill: #fff;
  stroke: #fff;
  stroke-width: 1px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.catalog__queries-filter:hover {
  stroke-width: 1.5px;
}
.catalog__queries__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.catalog__queries__wrapper-item {
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 4px 8px 4px 16px;
  border-radius: 78px;
  background: rgba(161, 158, 158, 0.1);
  margin-right: 8px;
}
.catalog__queries__wrapper-item .close {
  stroke: #A19E9E;
}
.catalog__queries__wrapper-item:hover .close {
  stroke: #fff;
  stroke-width: 1.5px;
}
.catalog__queries__wrapper-item:hover .catalog__queries__wrapper-item-name {
  color: #fff;
}
.catalog__queries__wrapper-item-name {
  white-space: nowrap;
  font-size: 20px;
  color: #A19E9E;
  margin-right: 8px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.catalog__queries__wrapper-item img {
  cursor: pointer;
  width: 24px;
  height: 24px;
}
.catalog__cards {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 0 20px;
  margin-bottom: -32px;
}
.catalog__cards-card {
  border: 1px solid transparent;
  padding: 16px 16px 48px 16px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.catalog__cards-card:hover {
  border: 1px solid #575656;
}
.catalog__cards-card-img {
  width: 100%;
  height: 333px;
  margin-bottom: 10px;
}
@media only screen and (max-width: 1920px) {
  .catalog__cards-card-img {
    height: calc(273px + 60 * (100vw - 1301px) / 619);
  }
}
@media only screen and (max-width: 1300px) {
  .catalog__cards-card-img {
    height: calc(213px + 15 * (100vw - 1061px) / 239);
  }
}
@media only screen and (max-width: 1060px) {
  .catalog__cards-card-img {
    height: calc(172px + 93 * (100vw - 731px) / 329);
  }
}
@media only screen and (max-width: 730px) {
  .catalog__cards-card-img {
    height: calc(189px + 94 * (100vw - 501px) / 229);
  }
}
@media only screen and (max-width: 500px) {
  .catalog__cards-card-img {
    height: calc(340px + 90 * (100vw - 390px) / 110);
  }
}
@media only screen and (max-width: 390px) {
  .catalog__cards-card-img {
    height: 306px;
  }
}
.catalog__cards-card-img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.catalog__cards-card-header {
  border-top: 1px #575656 solid;
  padding: 10px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.catalog__cards-card-header-type {
  font-family: "SourceCodePro";
  font-size: 14px;
  font-weight: 400;
  color: #A19E9E;
}
.catalog__cards-card-header-price {
  font-family: "SourceSansPro";
  font-size: 16px;
  font-weight: 300;
  line-height: 24px;
}
.catalog__cards-card-name {
  font-size: 16px;
  line-height: 22.4px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}
.catalog__pagination {
  padding: 24px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}
.catalog__pagination-count {
  font-family: "SourceSansPro";
  font-size: 16px;
  font-weight: 300;
  line-height: 24px;
  margin: 0 24px;
}
.catalog__pagination-count span {
  font-size: 10px;
}

.filter {
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  display: none;
}
.filter.active {
  display: block;
}
.filter__popup {
  overflow-y: auto;
  max-width: 630px;
  height: 100%;
  padding: 24px 50px 64px 50px;
  color: #000000;
  background-color: #fff;
}
.filter__close {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  padding-bottom: 8px;
  border-bottom: 1px #575656 solid;
}
.filter__close svg {
  cursor: pointer;
  width: 40px;
  height: 40px;
  stroke: #000000;
}
.filter__queries {
  padding: 32px 0;
}
.filter__queries .catalog__queries__wrapper {
  margin: -6px -8px;
}
.filter__queries .catalog__queries__wrapper-item {
  margin: 6px 8px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.filter__queries .catalog__queries__wrapper-item .close {
  stroke: #000000;
}
.filter__queries .catalog__queries__wrapper-item:hover .filter__queries .catalog__queries__wrapper-item.close {
  stroke: #000000;
}
.filter__queries .catalog__queries__wrapper-item:hover {
  background-color: #C2C2C2;
}
.filter__queries .catalog__queries__wrapper-item:hover .catalog__queries__wrapper-item-name {
  color: #000000;
}
.filter__queries .catalog__queries__wrapper-item-name {
  color: #000000;
}
.filter__checkbox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 24px;
}
.filter__checkbox-checkbox {
  cursor: pointer;
  position: relative;
  width: 24px;
  height: 24px;
  border: 1px #575656 solid;
  margin-right: 16px;
}
.filter__checkbox-checkbox.active::after {
  position: absolute;
  top: 6px;
  left: 4px;
  content: "";
  background-image: url("../img/done-icon.svg");
  background-repeat: no-repeat;
  background-size: cover;
  width: 14px;
  height: 10px;
  display: block;
}
.filter__checkbox-lable {
  font-family: "SourceSansPro";
  font-size: 16px;
  font-weight: 300;
}
.filter__tabs {
  position: relative;
}
.filter__tabs-tab {
  position: relative;
  padding-bottom: 4px;
  border-bottom: 1px #575656 solid;
}
.filter__tabs-tab img {
  width: 24px;
  height: 24px;
  -webkit-transition: -webkit-transform 0.3s;
  transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
  transition: transform 0.3s, -webkit-transform 0.3s;
}
.filter__tabs-tab.active .filter__tabs-tab-head img {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}
.filter__tabs-tab.active .filter__tabs-tab-checkbox {
  display: block;
}
.filter__tabs-tab:not(:last-child) {
  margin-bottom: 24px;
}
.filter__tabs-tab-head {
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.filter__tabs-tab-head-title {
  font-family: "CormorantGaramond";
  font-size: 16px;
  font-weight: 500;
}
.filter__tabs-tab-head .arrow {
  stroke: #000000;
}
.filter__tabs-tab-checkbox {
  display: none;
}
.filter__tabs-tab-checkbox .filter__checkbox {
  padding: 8px 0;
  margin-bottom: 0;
}
.filter__btns {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
  margin-top: 43px;
}
.filter__btns-btn {
  cursor: pointer;
  font-family: "SourceSansPro";
  font-size: 16px;
  font-weight: 400;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 8px 0 10px 0;
}
.filter__btns-btn.white {
  border: 1px #575656 solid;
}
.filter__btns-btn.dark {
  color: #fff;
  background-color: #000000;
}

.obj {
  position: relative;
}
.obj__wrapper {
  margin: 4rem 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}
.obj__wrapper.description {
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
}
.obj__wrapper-gallery {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}
.obj__wrapper-gallery-nav {
  height: 38.875rem;
  overflow: hidden;
  margin-right: 1.25rem;
}
.obj__wrapper-gallery-nav-ph {
  cursor: pointer;
  width: 6.75rem;
  height: 6.75rem;
}
.obj__wrapper-gallery-nav-ph:not(:last-child) {
  margin-bottom: 1.25rem;
}
.obj__wrapper-gallery-nav-ph img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.obj__wrapper-gallery-main {
  cursor: pointer;
  overflow: hidden;
  width: 38.875rem;
  height: 38.875rem;
}
@media only screen and (min-width: 390px) {
  .obj__wrapper-gallery-main:hover img {
    -webkit-transform: scale(2.5);
            transform: scale(2.5);
  }
}
.obj__wrapper-gallery-main img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-transition: -webkit-transform 0.3s;
  transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
  transition: transform 0.3s, -webkit-transform 0.3s;
}
.obj__wrapper-info {
  width: 100%;
  margin: 0 8rem 0 9.25rem;
}
.obj__wrapper-info.contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.obj__wrapper-info-type, .obj__wrapper-info-title, .obj__wrapper-info-specifications-type, .obj__wrapper-info-specifications-name {
  font-family: "SourceCodePro";
  font-size: 0.875rem;
  font-weight: 400;
}
.obj__wrapper-info-type {
  margin-bottom: 1.5rem;
}
.obj__wrapper-info-name {
  font-family: "CormorantGaramond";
  font-size: 1.75rem;
  font-weight: 600;
  min-height: 15.125rem;
  margin-bottom: 1.5rem;
}
.obj__wrapper-info-specifications {
  padding: 1rem 0 1.5rem 0;
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 0.25rem 1.8rem;
}
.obj__wrapper-info-specifications-type {
  color: #A19E9E;
}
.obj__wrapper-info-delivery {
  font-family: "SourceSansPro";
  font-size: 1rem;
  font-weight: 400;
  padding: 1.5rem 0;
  border-top: 0.0625rem #575656 solid;
  border-bottom: 0.0625rem #575656 solid;
}
.obj__wrapper-info-price {
  margin: 2.2rem 0 0.58rem 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.obj__wrapper-info-price-price, .obj__wrapper-info-price-btn {
  font-family: "SourceSansPro";
  font-size: 1rem;
  font-weight: 400;
}
.obj__wrapper-info-price-btn {
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  min-width: 10.625rem;
  padding: 0.5rem 1.5rem 0.62rem 1.5rem;
  background-color: #977E4B;
}
.obj__wrapper-info-contact-title {
  font-family: "CormorantGaramond";
  font-size: 1.25rem;
  font-weight: 500;
  margin-bottom: 1rem;
}
.obj__wrapper-info-request {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 0.3rem;
}
.obj__wrapper-info-request-text {
  font-family: "SourceSansPro";
  font-size: 1rem;
  font-weight: 300;
  color: #A19E9E;
  line-height: 1.5rem;
}
.obj__wrapper-info-request-btn {
  cursor: pointer;
  font-family: "SourceSansPro";
  font-size: 1rem;
  font-weight: 400;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  min-width: 14.8125rem;
  border: 0.0625rem #fff solid;
  padding: 0.5rem 1.5rem 0.62rem 1.5rem;
}
.obj__wrapper-description {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}
.obj__wrapper-description-logo {
  width: 6.75rem;
  margin-right: 1.25rem;
}
.obj__wrapper-description-logo img {
  width: 1rem;
  height: 1rem;
  margin-top: 0.3rem;
}
.obj__wrapper-description-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 39rem;
  height: 100%;
  border-bottom: 0.0625rem #575656 solid;
}
.obj__wrapper-description-text-title {
  font-family: "CormorantGaramond";
  font-size: 1.25rem;
  font-weight: 500;
  margin-bottom: 1rem;
}
.obj__wrapper-description-text-text {
  font-family: "SourceSansPro";
  font-size: 1rem;
  font-weight: 300;
  line-height: 1.5rem;
  color: #A19E9E;
  overflow: hidden;
  height: 18rem;
  margin-bottom: 1rem;
}
.obj__wrapper-description-text-text.active {
  height: auto;
}
.obj__wrapper-description-text-btn {
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  margin-bottom: 0.5rem;
}
.obj__wrapper-description-text-btn-text {
  font-family: "SourceSansPro";
  font-size: 1rem;
  font-weight: 300;
  color: #A19E9E;
  margin-right: 0.62rem;
}
.obj__related {
  position: relative;
}
.obj__related-title {
  font-family: "CormorantGaramond";
  font-size: 1.75rem;
  font-weight: 600;
  padding: 1.5rem 0 2rem 0;
}
.obj__related-items {
  overflow: visible;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-transition: -webkit-transform 0.5s;
  transition: -webkit-transform 0.5s;
  transition: transform 0.5s;
  transition: transform 0.5s, -webkit-transform 0.5s;
}
.obj__related-items::-webkit-scrollbar {
  width: 0;
  height: 0;
}
.obj__related-items .catalog__cards-card {
  margin: 1rem 2.3rem 1rem 1rem;
  min-width: 16.125rem;
}
.obj__related-items .catalog__cards-card-img {
  height: 16.125rem;
}
.obj__related-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  padding: 1.5rem 0;
}
.obj__related-nav .arrow.rotate {
  margin-left: 1.5rem;
}

.order {
  position: fixed;
  inset: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: rgba(0, 0, 0, 0.7);
  display: none;
}
.order.active {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.order__popup {
  width: 39.375rem;
  height: auto;
  padding: 1rem 3.125rem 4rem 3.125rem;
  color: #000000;
  background-color: #fff;
}
.order__popup .filter__btns {
  margin-top: 1.56rem;
}
.order__popup-item {
  margin: 1.56rem 0;
  padding: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  background: rgba(0, 0, 0, 0.05);
}
.order__popup-item-ph {
  width: 4.6rem;
  height: 4.6rem;
  margin-right: 1rem;
}
.order__popup-item-ph img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.order__popup-item-info {
  position: relative;
}
.order__popup-item-info-type {
  font-family: "SourceCodePro";
  font-size: 0.874rem;
  font-weight: 400;
}
.order__popup-item-info-name {
  font-family: "CormorantGaramond";
  font-size: 1.75rem;
  font-weight: 600;
}
.order__popup-text {
  font-family: "CormorantGaramond";
  font-size: 1.25rem;
  font-weight: 500;
}

.filter.request__popup .filter__popup {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-left: auto;
}

.request__popup {
  display: none;
  margin: 0;
}
.request__popup.active {
  display: block;
}
.request__popup .obj__wrapper-info.contact {
  margin: 0;
}
.request__popup textarea {
  margin-bottom: 0;
}
.request__popup-title {
  font-family: "CormorantGaramond";
  font-size: 1.25rem;
  font-weight: 500;
  margin: 1rem 0;
}
.request__popup-text {
  font-family: "SourceSansPro";
  font-size: 0.75rem;
  font-weight: 300;
}
.request__popup-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  padding: 0.5rem 1.5rem 0.62rem 1.5rem;
  color: #fff;
  background-color: #000000;
  margin: 1rem 0;
}

.footer {
  margin-top: 100px;
}

.pre__footer {
  background-color: #0C0C0C;
}

.prefooter__obj {
  background-color: #3C321E;
}
.prefooter__obj h3 {
  color: #fff;
}
.prefooter__obj-form {
  position: relative;
}
.prefooter__obj-form-lable {
  font-family: "SourceSansPro";
  font-size: 0.75rem;
  font-weight: 300;
}
.prefooter__obj-form-title {
  font-family: "SourceSansPro";
  font-size: 1.125rem;
  font-weight: 300;
  margin-bottom: 4.2rem;
}
.prefooter__obj-form-input {
  font-family: "SourceCodePro";
  font-size: 0.875rem;
  font-weight: 400;
  width: 100%;
  resize: none;
  border: none;
  background-color: transparent;
  color: #A19E9E;
  padding-bottom: 0.6rem;
  margin-bottom: 1.2rem;
  border-bottom: 0.0625rem #A19E9E solid;
}
.prefooter__obj-form-text {
  font-family: "SourceSansPro";
  font-size: 1rem;
  font-weight: 300;
  line-height: 1.5rem;
  color: #A19E9E;
  margin-bottom: 2.1rem;
}
.prefooter__obj-form-btn {
  cursor: pointer;
  font-family: "SourceSansPro";
  font-size: 1rem;
  font-weight: 400;
  width: 13rem;
  border: 0.0625rem #fff solid;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0.5rem 0 0.62rem 0;
  margin-left: auto;
  margin-bottom: 1.25rem;
}

.contact__footer {
  padding: 64px 0;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 0 20px;
}
.contact__footer-item {
  position: relative;
}
.contact__footer-item-title {
  font-family: "CormorantGaramond";
  font-size: 28px;
  font-weight: 600;
  color: #977E4B;
}
.contact__footer-item-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-bottom: 16px;
  border-bottom: 1px #575656 solid;
}
.contact__footer-item-header-avatar {
  overflow: hidden;
  width: 56px;
  height: 56px;
  border-radius: 50%;
  margin-right: 16px;
}
.contact__footer-item-header-avatar img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.contact__footer-item-header-info {
  position: relative;
}
.contact__footer-item-header-info-name {
  font-family: "CormorantGaramond";
  font-size: 20px;
  font-weight: 500;
  color: #A19E9E;
}
.contact__footer-item-header-info-post {
  font-family: "SourceSansPro";
  font-size: 16px;
  font-weight: 300;
  line-height: 24px;
  color: #A19E9E;
}
.contact__footer-item-contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.contact__footer-item-contact-text {
  font-family: "SourceSansPro";
  font-size: 16px;
  font-weight: 300;
  line-height: 24px;
  color: #A19E9E;
  padding: 16px 0;
}
.contact__footer-item-contact-link {
  font-family: "SourceSansPro";
  font-size: 16px;
  font-weight: 400;
  color: #A19E9E;
  display: inline-block;
}
.contact__footer-item-contact-link:not(:last-child) {
  margin-bottom: 4px;
}

.main__footer {
  padding: 64px 0 32px 0;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 0 20px;
}
.main__footer-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.main__footer-item-logo {
  width: 143px;
  height: 69px;
  margin-bottom: 48px;
}
.main__footer-item-link {
  font-family: "SourceSansPro";
  font-size: 10px;
  font-weight: 400;
  line-height: 24px;
  color: #977E4B;
}
.main__footer-item-text {
  font-family: "SourceSansPro";
  font-size: 10px;
  font-weight: 400;
  line-height: 24px;
  color: #575656;
  margin-top: 40px;
}
@media only screen and (max-width: 730px) {
  .main__footer-item-text.desktop {
    display: none;
  }
}
@media only screen and (min-width: 730px) {
  .main__footer-item-text.mobile {
    display: none;
  }
}
.main__footer-item-wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 70px;
}
.main__footer-item-wrapper div {
  max-width: 202px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.main__footer-item-wrapper-link {
  font-family: "SourceSansPro";
  font-size: 16px;
  font-weight: 300;
  line-height: 24px;
  color: #fff;
}
.main__footer-item-wrapper-link:not(:last-child) {
  margin-bottom: 4px;
}
.main__footer-item-wrapper-link.grey {
  color: #A19E9E;
}
.main__footer-item-wrapper-link.custom {
  font-family: "CormorantGaramond";
  font-size: 24px;
  font-weight: 500;
  line-height: 36px;
  color: #977E4B;
  text-decoration: underline;
}
.main__footer-item-wrapper-link.custom:not(:last-child) {
  margin-bottom: 0;
}

.container-obj .main__footer {
  padding: 5.88rem 0 2rem 0;
}

@media only screen and (max-width: 1300px) {
  .main__footer {
    padding: 70px 0 32px;
  }
  .main__footer-item-wrapper {
    gap: 18px;
  }
  .obj__wrapper-gallery-nav {
    height: 29.8125rem;
    margin-right: 1rem;
  }
  .obj__wrapper-gallery-nav-ph {
    width: 5.25rem;
    height: 5.25rem;
  }
  .obj__wrapper-gallery-main {
    width: 29.8125rem;
    height: 29.8125rem;
  }
  .obj__wrapper-info {
    width: 30.8125rem;
    margin: 0 6.2rem 0 7.4rem;
  }
  .obj__wrapper-info-name {
    min-height: 6rem;
  }
  .obj__wrapper-description-logo {
    width: 5.25rem;
    margin-right: 1rem;
  }
  .obj__wrapper-description-text {
    width: 29.8125rem;
  }
  .obj__wrapper-info-request-btn, .obj__wrapper-info-price-btn {
    min-width: 11.125rem;
  }
  .container-obj .main__footer {
    padding: 4rem 0;
  }
}
@media only screen and (max-width: 1060px) {
  .catalog__nav {
    overflow: hidden;
    padding: 15px 0;
  }
  .catalog__nav::after {
    display: none;
  }
  .catalog__nav__wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    overflow-x: auto;
  }
  .catalog__nav__wrapper::-webkit-scrollbar {
    width: 0;
    height: 0;
  }
  .catalog__nav__wrapper-item {
    border: none;
    background: rgba(255, 255, 255, 0.05);
    padding: 4px 9px;
  }
  .catalog__nav__wrapper-item:not(last-child) {
    margin-right: 6px;
  }
  .catalog__nav__wrapper-item.active {
    border: 1px #977E4B solid;
  }
  .catalog__nav__wrapper-item-name {
    font-size: 16px;
    white-space: nowrap;
  }
  .catalog__nav__wrapper-item-name span {
    display: none;
  }
  .catalog__nav__wrapper-item-name .close {
    margin: 0 -7px 0 -1px;
    display: inline-block;
    stroke: #977E4B;
  }
  .catalog__nav__wrapper-item-ph {
    display: none;
  }
  .catalog__cards {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media only screen and (max-width: 1024px) {
  .obj__wrapper-gallery {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  .obj__wrapper-gallery-main {
    width: 32.125rem;
    height: 32.125rem;
    margin-bottom: 1.25rem;
  }
  .obj__wrapper-gallery-nav {
    overflow-x: auto;
    width: 32.125rem;
    height: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-right: 0;
  }
  .obj__wrapper-gallery-nav::-webkit-scrollbar {
    width: 0;
    height: 0;
  }
  .obj__wrapper-gallery-nav-ph {
    width: 3.5rem;
    height: 3.5rem;
  }
  .obj__wrapper-gallery-nav-ph:not(:last-child) {
    margin-bottom: 0;
    margin-right: 1.25rem;
  }
  .obj__wrapper-info {
    width: auto;
    margin: 0 0 0 6.1rem;
  }
  .obj__wrapper-info.contact {
    margin: 0;
    width: 22.625rem;
  }
  .obj__wrapper-info-name {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    min-height: auto;
    margin-bottom: 9.38rem;
  }
  .obj__wrapper-info-price-btn {
    min-width: 13.625rem;
  }
  .obj__wrapper-description-logo {
    display: none;
  }
  .obj__wrapper-description-text {
    width: 27.375rem;
  }
}
@media only screen and (max-width: 730px) {
  .header {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    padding: 32px 0rem 26px 0rem;
  }
  .header__wrapper {
    display: none;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    z-index: 1;
    height: 100%;
    padding: 100px 34px 0 34px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    background-color: #000000;
  }
  .header__wrapper.active {
    overflow-x: auto;
    display: block;
  }
  .header__wrapper-nav {
    width: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .header__wrapper-nav-item {
    padding: 4px;
    margin: 24px 0;
  }
  .header__wrapper-nav-item a {
    font-size: 36px;
  }
  .header__wrapper-nav-item:after {
    position: absolute;
    right: 0;
    left: 0;
    content: "";
    margin-top: 24px;
    border-bottom: 1px #575656 solid;
    display: block;
    background-color: #fff;
  }
  .header__wrapper-shopping {
    margin-top: 64px;
    margin-left: 0;
  }
  .header a {
    position: relative;
    z-index: 2;
    width: 24px;
    height: 24px;
  }
  .header-logo {
    width: 24px;
    height: 24px;
  }
  .burger {
    position: relative;
    z-index: 2;
    display: block;
  }
  .catalog__cards {
    grid-template-columns: repeat(2, 1fr);
  }
  .contact__footer {
    grid-template-columns: repeat(1, 1fr);
  }
  .contact__footer-item-title {
    font-size: 16px;
    margin-bottom: 16px;
  }
  .main__footer {
    margin-top: 100px;
    padding: 64px 0 32px;
    grid-template-columns: repeat(1, 1fr);
  }
  .main__footer-item-wrapper-link {
    margin-bottom: 4px;
  }
  .main__footer-item-text {
    margin-top: 72px;
  }
  .main__footer-item-logo {
    margin-bottom: 24px;
  }
  .main__footer-item-wrapper {
    margin-top: 80px;
    grid-template-columns: auto 1fr;
    grid-template-areas: "col1 col2" "col1 col3";
    gap: 0 73px;
  }
  .main__footer-item-wrapper div:nth-child(1) {
    grid-area: col2;
  }
  .main__footer-item-wrapper div:nth-child(2) {
    grid-area: col3;
  }
  .main__footer-item-wrapper div:nth-child(3) {
    grid-area: col1;
  }
}
@media only screen and (max-width: 500px) {
  .catalog__cards {
    grid-template-columns: repeat(1, 1fr);
  }
}
@media only screen and (max-width: 390px) {
  .filter {
    width: 100%;
  }
  .filter__popup {
    width: 100%;
    padding: 16px 24px 48px 24px;
  }
  .obj .order .order__popup {
    padding: 1rem 1.5rem 3rem 1.5rem;
  }
  .breadcrumb {
    border-top: none;
  }
  .breadcrumb__wrapper-list {
    display: none;
  }
  .catalog__header {
    padding: 2rem 0rem;
  }
  .catalog__queries {
    padding: 1rem 0;
  }
  .contact__footer {
    padding: 2.62rem 0;
    grid-template-columns: repeat(1, 1fr);
  }
  .contact__footer-item-title {
    font-family: "CormorantGaramond";
    font-size: 20px;
    font-weight: 500;
    line-height: normal;
    margin-bottom: 1rem;
  }
  .contact__footer-item-contact-text {
    padding: 1.2rem 0;
  }
  .obj__wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .obj__wrapper-gallery {
    overflow: hidden;
    width: 100%;
  }
  .obj__wrapper-gallery-main {
    width: 100%;
    height: 21.125rem;
  }
  .obj__wrapper-info {
    margin: 1.25rem 0 0 0;
  }
  .obj__wrapper-info.contact {
    width: 100%;
  }
  .obj__wrapper-info-name {
    margin-bottom: 8.4rem;
  }
  .obj__wrapper-info-request {
    margin-top: 7.2rem;
  }
  .obj__wrapper-info-request-btn, .obj__wrapper-info-price-btn {
    min-width: 10rem;
  }
  .obj__wrapper-description {
    margin-bottom: 4rem;
  }
  .container-obj .contact__footer {
    padding: 4rem 0 3.3rem 0;
  }
  .container-obj .contact__footer-item-title {
    font-size: 1.75rem;
    margin-bottom: 4rem;
  }
}
@media only screen and (max-width: 1060px) {
  br {
    display: none;
  }
}