      <section class="breadcrumb">
        <div class="container container-obj">
          <div class="breadcrumb__wrapper">
            <a href="/">
              <svg class="arrow" viewBox="0 0 24 24"><use xlink:href="img/sprite.svg#arrow"></use></svg>
            </a>
            <ul class="breadcrumb__wrapper-list">
              <li class="breadcrumb__wrapper-list-item">
                <a href="/">Home</a>
              </li>
              <li class="breadcrumb__wrapper-list-item active">
                <a href="catalog.html">Catalogue</a>
              </li>
              <li class="breadcrumb__wrapper-list-item active">
                <a href="#">Text</a>
              </li>
              <li class="breadcrumb__wrapper-list-item active">
                <a href="#">Text</a>
              </li>
            </ul>
          </div>
        </div>
      </section>