		</div>
		<footer class="footer black">
			<div class="prefooter__obj">
				<div class="container-obj">
				<div class="contact__footer">
					<div class="contact__footer-item">
						<h3 class="contact__footer-item-title">Get in touch</h3>
					</div>
					<div class="contact__footer-item">
						<div class="prefooter__obj-form">
							<p class="prefooter__obj-form-title">We will be happy to assist you in any question</p>
							<form action="#" method="post">
								<input class="prefooter__obj-form-input" type="text" name="name" placeholder="Name" required>
								<input class="prefooter__obj-form-input" type="email" name="email" placeholder="E-mail or phone" required>
								<p class="prefooter__obj-form-text">By submitting an application, I consent to the processing of my personal data.</p>
								<div class="prefooter__obj-form-btn btn border" type="submit" value="Send">Send</div>
							</form>
						</div>
					</div>
				</div>
				</div>
			</div>
			<div class="container-obj">
				<div class="main__footer">
					<div class="main__footer-item">
						<img class="main__footer-item-logo" src="img/footer-logo.svg" alt="">
						<a href="tel:+971507777777" class="main__footer-item-link">+971 50 777 77 77</a>
						<a href="mailto:info@artefactumgallery.com" class="main__footer-item-link">info@artefactumgallery.com</a>
						<p class="main__footer-item-text desktop">All rights reserved ® | 2023</p>
					</div>
					<div class="main__footer-item">
						<div class="main__footer-item-wrapper">
							<div>
								<a href="/" class="main__footer-item-wrapper-link">Home</a>
								<a href="catalog.html" class="main__footer-item-wrapper-link">Catalogue</a>
								<a href="contact.html" class="main__footer-item-wrapper-link">Contacts</a>
							</div>
							<div >
								<a href="privacy.html" class="main__footer-item-wrapper-link grey">Privacy Policy</a>
								<a href="#" class="main__footer-item-wrapper-link grey">Terms of Use</a>
							</div>
							<div>
								<a href="#" class="main__footer-item-wrapper-link custom">YouTube</a>
								<a href="#" class="main__footer-item-wrapper-link custom">Instagram</a>
								<a href="#" class="main__footer-item-wrapper-link custom">TikTok</a>
							</div>
						</div>
						<p class="main__footer-item-text mobile">All rights reserved ® | 2023</p>
					</div>
				</div>
			</div>
		</footer>

		<!-- libs -->
		<script src="js/main.min.js"></script>
		<script src="js/SmoothScroll.js"></script>

	</body>
</html>
