		</div>
		<footer class="footer black">
			<div class="container container-obj">
				<div class="main__footer">
					<div class="main__footer-item">
						<img class="main__footer-item-logo" src="img/footer-logo.svg" alt="">
						<a href="tel:+971507777777" class="main__footer-item-link">+971 50 777 77 77</a>
						<a href="mailto:info@artefactumgallery.com" class="main__footer-item-link">info@artefactumgallery.com</a>
						<p class="main__footer-item-text desktop">All rights reserved ® | 2023</p>
					</div>
					<div class="main__footer-item">
						<div class="main__footer-item-wrapper">
							<div>
								<a href="/" class="main__footer-item-wrapper-link">Home</a>
								<a href="catalog.html" class="main__footer-item-wrapper-link">Catalogue</a>
								<a href="contact.html" class="main__footer-item-wrapper-link">Contacts</a>
							</div>
							<div >
								<a href="privacy.html" class="main__footer-item-wrapper-link grey">Privacy Policy</a>
								<a href="#" class="main__footer-item-wrapper-link grey">Terms of Use</a>
							</div>
							<div>
								<a href="#" class="main__footer-item-wrapper-link custom">Facebook</a>
								<a href="#" class="main__footer-item-wrapper-link custom">Instagram</a>
							</div>
						</div>
						<p class="main__footer-item-text mobile">All rights reserved ® | 2023</p>
					</div>
				</div>
			</div>
		</footer>

	<!-- libs -->
	<script src="js/swiper.min.js"></script>
	<script src="js/main.min.js"></script>
	<script src="js/SmoothScroll.js"></script>

	</body>
</html>
