<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">

		<title>kosty</title>
		<meta name="description" content="kosty">

		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

		<link rel="icon" href="img/favicon.svg" type="image/svg+xml">
		<link rel="apple-touch-icon" sizes="72x72" href="img/apple-touch-icon-72x72.png">
		<link rel="apple-touch-icon" sizes="114x114" href="img/apple-touch-icon-114x114.png">

		<meta name="theme-color" content="#977E4B">
		<meta name="msapplication-navbutton-color" content="#977E4B">
		<meta name="apple-mobile-web-app-status-bar-style" content="#977E4B">
		
		<link rel="stylesheet" href="css/style.css">
		<link rel="stylesheet" href="css/swiper.min.css">

	</head>
	<body>