		<div class="page">
			<section  class="black">
				<div class="container">
					<header class="header">
						<a href="/">
							<img class="header-logo" src="img/favicon.svg" alt="">
						</a>
						<span class="burger"><span></span></span>
						<div class="header__wrapper">
							<ul class="header__wrapper-nav">
								<li class="header__wrapper-nav-item">
									<a href="/">
										Home
									</a>
								</li>
								<li class="header__wrapper-nav-item active">
									<a href="catalog.html">
										Catalogue
									</a>
								</li>
								<li class="header__wrapper-nav-item">
									<a href="contact.html">
										Contacts
									</a>
								</li>
							</ul>
							<div class="header__wrapper-shopping">
								<a href="bag.html">
									<svg class="header__wrapper-shopping-icon" viewBox="0 0 24 24"><use xlink:href="img/sprite.svg#bag"></use></svg>
									<span class="header__wrapper-shopping-counter">$0.00</span>
								</a>
							</div>
						</div>
					</header>
				</div>
			</section>
