.breadcrumb
	width: 100%
	border-top: 1px $dark-grey solid
	border-bottom: 1px $dark-grey solid
	&__wrapper
		display: flex
		align-items: center
		padding: 12px 0
		& .arrow
			margin-right: 36px
		&-list
			display: flex
			align-items: center
			&-item
				display: flex
				align-items: center
				& a
					@include font(16px, 400, 'SourceSansPro')
					color: $grey
				&.active a
					color: $text-color
			& &-item:not(:last-child)::after
				content: ''
				background-image: url('../img/arrow-icon.svg')
				background-repeat: no-repeat
				background-size: cover
				width: 24px
				height: 24px
				display: block
				margin: 0 8px