.footer
	margin-top: 100px

.pre__footer
	background-color: $backround-light

.prefooter__obj
	background-color: $gold-dark
	& h3
		color: $text-color
	&-form
		position: relative
		&-lable
			@include font(12px, 300, 'SourceSansPro')
		&-title
			@include font(18px, 300, 'SourceSansPro')
			margin-bottom: 67px
		&-input
			@include font(14px, 400, 'SourceCodePro')
			width: 100%
			resize: none
			border: none
			background-color: transparent
			color: $grey
			padding-bottom: 9.6px
			margin-bottom: 19px
			border-bottom: 1px $grey solid
		&-text
			@include font(16px, 300, 'SourceSansPro')
			line-height: 24px
			color: $grey
		&-btn
			cursor: pointer
			@include font(16px, 400, 'SourceSansPro')
			width: 208px
			border: 1px $text-color solid
			display: flex
			align-items: center
			justify-content: center
			padding: 8px 0 10px 0
			margin-left: auto
			margin-top: 36px

.contact__footer
	padding: 64px 0
	display: grid
	grid-template-columns: repeat(2, 1fr)
	gap: 0 20px
	&-item
		position: relative
		&-title
			@include font(28px, 600, 'CormorantGaramond')
			color: $gold
		&-header
			display: flex
			align-items: center
			padding-bottom: 16px
			border-bottom: 1px $dark-grey solid
			&-avatar
				overflow: hidden
				width: 56px
				height: 56px
				border-radius: 50%
				margin-right: 16px
				& img
					width: 100%
					height: 100%
					object-fit: cover
			&-info
				position: relative
				&-name
					@include font(20px, 500, 'CormorantGaramond')
					color: $grey
				&-post
					@include font(16px, 300, 'SourceSansPro')
					line-height: 24px
					color: $grey
		&-contact
			display: flex
			flex-direction: column
			&-text
				@include font(16px, 300, 'SourceSansPro')
				line-height: 24px
				color: $grey
				padding: 16px 0
			&-link
				@include font(16px, 400, 'SourceSansPro')
				color: $grey
				display: inline-block
				&:not(:last-child)
					margin-bottom: 4px

.main__footer
	padding: 64px 0 32px 0
	display: grid
	grid-template-columns: repeat(2, 1fr)
	gap: 0 20px
	&-item
		display: flex
		flex-direction: column
		&-logo
			width: 143px
			height: 69px
			margin-bottom: 48px
		&-link
			@include font(12px, 400, 'SourceSansPro')
			line-height: 24px
			color: $gold
		&-text
			@include font(10px, 400, 'SourceSansPro')
			line-height: 24px
			color: $dark-grey
			margin-top: 40px
			@media only screen and (max-width : 730px)
				&.desktop
					display: none
			@media only screen and (min-width : 730px)
				&.mobile
					display: none
		&-wrapper
			display: grid
			grid-template-columns: repeat(3, 1fr)
			gap: 70px
			& div
				max-width: 202px
				display: flex
				flex-direction: column
			&-link
				@include font(16px, 300, 'SourceSansPro')
				line-height: 24px
				color: $text-color
				width: fit-content
				border-bottom: 1px solid transparent
				transition: .3s
				&:hover
					font-weight: 400
					color: $gold
					border-bottom: 1px solid $gold
				&:active
					color: $text-color
				&:not(:last-child)
					margin-bottom: 4px
				&.grey
					color: $grey
					transition: .3s
					&:hover
						color: $gold
					&:active
						color: $text-color
				&.custom
					@include font(24px, 500, 'CormorantGaramond')
					line-height: 36px
					color: $gold
					text-decoration: underline
					border-bottom: none
					transition: .3s
					&:hover
						font-size: 28px
						font-weight: 700
						border-bottom: none
					&:active
						color: $text-color
						font-weight: 700
					&:not(:last-child)
						margin-bottom: 0
