.header
	display: flex
	align-items: center
	justify-content: space-between
	padding: 1.625rem 0rem 1.1rem 0rem
	&-logo
		width: 1.875rem
		height: 1.875rem
	&__wrapper
		display: flex
		align-items: center
		&-nav
			display: flex
			align-items: center
			&-item
				padding: 0.25rem
				margin: 0 1.9rem
				& a
					font-size: 1.125rem
					color: $grey
				&.active a
					color: $text-color
		&-shopping
			cursor: pointer
			display: flex
			align-items: center
			margin-left: 2.1rem
			&-icon
				width: 1.5rem
				height: 1.5rem
				margin-right: 0.625rem
			&-counter
				@include font(1rem, 400, 'SourceSansPro')
				color: $gold
				text-decoration: underline

.burger
	display: none
	position: relative
	width: 0.875rem
	height: 0.625rem
	margin: 0.4375rem 0.3125rem
	span
		position: absolute
		background-color: $text-color
		width: 100%
		height: 0.0625rem
		top: 0.25rem
	&::before,
	&::after
		content: ''
		width: 100%
		background-color: $text-color
		position: absolute
		height: 0.0625rem
	&::before
		top: 0
	&::after
		bottom: 0