@import "vars"

@media only screen and (max-width : 1920px)
  .main__catalog-wrapper-item
    width: calc(218px + (365 - 218) * ((100vw - 1060px) / (1920 - 1060)))
    height: calc(218px + (365 - 218) * ((100vw - 1060px) / (1920 - 1060)))
  .about__wrapper-slider-img
    min-width: calc(454px + (1042 - 454) * ((100vw - 1060px) / (1920 - 1060)))
  .main__form-wrapper
    max-width: calc(466px + (750 - 466) * ((100vw - 730px) / (1920 - 730)))
  .obj__wrapper-gallery-main
    width: calc(456px + (622 - 456) * ((100vw - 1250px) / (1920 - 1250)))
    height: calc(456px + (622 - 456) * ((100vw - 1250px) / (1920 - 1250)))
  .obj__wrapper-gallery-nav
    height: calc(456px + (622 - 456) * ((100vw - 1250px) / (1920 - 1250)))
    &-ph
      min-width: calc(75px + (108 - 75) * ((100vw - 1250px) / (1920 - 1250)))
      height: calc(75px + (108 - 75) * ((100vw - 1250px) / (1920 - 1250)))
  .obj__wrapper-info
    margin: 0 calc(95px + (128 - 95) * ((100vw - 1250px) / (1920 - 1250))) 0 calc(115px + (148 - 115) * ((100vw - 1250px) / (1920 - 1250)))
  .obj__wrapper-description-logo
    width: calc(75px + (108 - 75) * ((100vw - 1250px) / (1920 - 1250)))
  .obj__wrapper-description-text
    width: calc(456px + (624 - 456) * ((100vw - 1250px) / (1920 - 1250)))
  .contact__info-map
    width: calc(515px + (750 - 515) * ((100vw - 1250px) / (1920 - 1250)))
@media only screen and (max-width : 1250px)
  .obj__wrapper-gallery-main
    width: calc(455px + (550 - 455) * ((100vw - 1060px) / (1250 - 1060)))
    margin-bottom: 20px
  .obj__wrapper-gallery-nav
    width: calc(455px + (550 - 455) * ((100vw - 1060px) / (1250 - 1060)))
    &-ph
      min-width: calc(60px + (80 - 60) * ((100vw - 390px) / (1250 - 390)))
      height: calc(60px + (80 - 60) * ((100vw - 390px) / (1250 - 390)))
  .obj__wrapper-info
    margin: 0 0 0 calc(100px + (116 - 100) * ((100vw - 1060px) / (1250 - 1060)))
  .obj__wrapper-description-logo
    display: none
  .obj__wrapper-description-text
    width: calc(455px + (550 - 455) * ((100vw - 1060px) / (1250 - 1060)))
@media only screen and (max-width : 1060px)
  .main__catalog-wrapper-item
    width: calc(187px + (297 - 187) * ((100vw - 730px) / (1060 - 730)))
    height: calc(187px + (297 - 187) * ((100vw - 730px) / (1060 - 730)))
  .value__wrapper-content-text
    font-size: calc(28px + (36 - 28) * ((100vw - 730px) / (1060 - 730)))
  .obj__wrapper-gallery-main
    width: calc(291px + (455 - 291) * ((100vw - 730px) / (1060 - 730)))
  .obj__wrapper-gallery-nav
    width: calc(291px + (455 - 291) * ((100vw - 730px) / (1060 - 730)))
  .obj__wrapper-info
    margin: 0 0 0 calc(20px + (100 - 20) * ((100vw - 730px) / (1060 - 730)))
  .obj__wrapper-description-text
    width: calc(291px + (455 - 291) * ((100vw - 730px) / (1060 - 730)))
@media only screen and (max-width : 730px)
  .main__catalog-wrapper-item
    width: calc(219px + (333 - 219) * ((100vw - 500px) / (730 - 500)))
    height: calc(219px + (333 - 219) * ((100vw - 500px) / (730 - 500)))
  .main__wrapper-col-item-link::after
    width: calc(232px + (570 - 232) * ((100vw - 390px) / (730 - 390)))
@media only screen and (max-width : 500px)
  .main__catalog-wrapper-item
    width: calc(338px + (447 - 338) * ((100vw - 390px) / (500 - 390)))
    height: calc(338px + (447 - 338) * ((100vw - 390px) / (500 - 390)))

@media only screen and (max-width : 1250px)
  .contact__info
    flex-direction: column
    &-form
      max-width: 100%
    &-map
      margin-top: 70px
      width: 100%
  .contact__wrapper
    grid-template-columns: repeat(2, 1fr)
    margin-bottom: 36px
    &-item
      padding-bottom: 64px
@media only screen and (max-width : 1500px)
  .main__wrapper-col-title span
    margin-left: 194px
  .main__wrapper-col-text
    max-width: 475px
    margin-top: 200px
    margin-left: 107px
  .main__wrapper-col-item
    margin-bottom: 70px
@media only screen and (max-width : 1300px)
  .main__footer
    padding: 70px 0 32px
    &-item-wrapper
      gap: 18px
@media only screen and (max-width : 1250px)
  .main
    margin-top: 10px
    &__wrapper
      padding-bottom: 325px
      &-col-title
        font-size: 70px
        line-height: 70px
        padding: 10px
        & span
          margin-top: -12px
          margin-left: 297px
      &-col-item
        position: absolute
        right: 0
        bottom: 0
        margin-bottom: 0
      &-col-text
        margin-top: 89px
        margin-left: 0
  .obj__wrapper-gallery
    flex-direction: column-reverse
    justify-content: flex-end
    &-nav
      display: flex
      height: auto
      margin-right: 0
      &-ph:not(:last-child)
        margin-right: 20px
        margin-bottom: 0
@media only screen and (max-width : 1060px)
  .main__wrapper
    flex-direction: column
    align-items: inherit
    padding-bottom: 218px
    &-col-text
      max-width: 498px
      position: absolute
      right: 0
      bottom: 0
    &-col-item
      margin-top: 55px
      position: relative
      bottom: inherit
      margin-left: auto
    &-col-title
      font-size: 60px
      line-height: 60px
      padding: calc(0px + (10 - 0) * ((100vw - 730px) / (1060 - 730)))
      & span
        margin-top: 0
        margin-left: 126px
      & br
        display: block
  .main__catalog-wrapper
    grid-template-columns: repeat(3, 1fr)
  .about__wrapper
    flex-direction: column
    &-description
      margin-bottom: 64px
    &-slider
      margin-left: 0
      &-img
        width: 100%
        height: 565px
  .catalog__nav
    overflow: hidden
    padding: 15px 0
    &::after
      display: none
    &__wrapper
      display: flex
      overflow-x: auto
      &::-webkit-scrollbar
        width: 0
        height: 0
      &-item
        border: none
        background: rgba(255, 255, 255, 0.05)
        padding: 4px 9px
        &:not(last-child)
          margin-right: 6px
        &.active
          border: 1px $gold solid
        &-name
          font-size: 16px
          white-space: nowrap
          & span
            display: none
          & .close
            margin: 0 -7px 0 -1px
            display: inline-block
            stroke: $gold
        &-ph
          display: none
  .catalog__cards
    grid-template-columns: repeat(3, 1fr)
@media only screen and (max-width : 730px)
  .main__wrapper
    padding-bottom: 0
    &-col-title
      font-size: 50px
      line-height: 50px
      & span
        margin-left: 0
        text-align: right
    &-col-text
      position: relative
      font-size: 16px
      line-height: 24px
      max-width: 345px
      margin-top: 168px
    &-col-item
      margin-top: 62px
      width: 100%
      &-img
        width: 100%
      &-name br
        display: block
      &-link
        display: flex
  .main__catalog-wrapper
    grid-template-columns: repeat(2, 1fr)
  .value__wrapper
    flex-direction: column
    &-content-text
      font-size: 36px
      & span
        margin-left: 0
    &-content.active
      margin-top: 64px
      display: block
  .main__form-wrapper
    max-width: 677px
  .header
    flex-wrap: wrap
    padding: 32px 0 26px 0
    &__wrapper
      display: none
      position: fixed
      left: 0
      right: 0
      top: 0
      z-index: 1
      height: 100%
      padding: 100px 34px 0 34px
      flex-direction: column
      align-items: flex-start
      background-color: $backround
      &.active
        overflow-x: auto
        display: block
      &-nav
        width: 100%
        flex-direction: column
        align-items: flex-start
        &-item
          padding: 4px
          margin: 24px 0
          & a
            font-size: 36px
          &:after
            position: absolute
            right: 0
            left: 0
            content: ''
            margin-top: 24px
            border-bottom: 1px $dark-grey solid
            display: block
            background-color: #fff
      &-shopping
        margin-top: 64px
        margin-left: 0
    & a
      position: relative
      z-index: 2
      width: 24px
      height: 24px
    &-logo
      width: 24px
      height: 24px
  .burger
    position: relative
    z-index: 2
    display: block
  .catalog__cards
    grid-template-columns: repeat(2, 1fr)
  .contact__footer
    grid-template-columns: repeat(1, 1fr)
    &-item-title
      font-size: 16px
      margin-bottom: 16px
  .container-obj .main__footer
    margin-top: 0
  .main__footer
    margin-top: 100px
    padding: 64px 0 32px
    grid-template-columns: repeat(1, 1fr)
    &-item-wrapper-link
      margin-bottom: 4px
    &-item-text
      margin-top: 72px
    &-item-logo
      margin-bottom: 24px
    &-item-wrapper
      margin-top: 80px
      grid-template-columns: auto 1fr
      grid-template-areas: "col1 col2" "col1 col3"
      gap: 0 73px
      & div:nth-child(1)
        grid-area: col2
      & div:nth-child(2)
        grid-area: col3
      & div:nth-child(3)
        grid-area: col1
  .obj__wrapper
    display: block
  .obj__wrapper-gallery-main
    width: 100%
    height: calc(337px + (677 - 337) * ((100vw - 390px) / (730 - 390)))
  .obj__wrapper-gallery-nav
    width: 100%
    margin-bottom: 20px
  .obj__wrapper-info
    margin: 0
    &-name
      margin-bottom: 120px
  .obj__wrapper-description-text
    width: 100%
    margin-bottom: 64px
  .obj__wrapper-info-request
    margin-top: 118px
  .bag
    margin-top: 24px
    &__wrapper
      flex-direction: column
      &-col
        max-width: 100%
        &-title
          margin-top: 24px
        &-delivery
          margin-top: 24px
  .contact__wrapper
    grid-template-columns: repeat(1, 1fr)
    margin-bottom: 76px
    &-item
      padding-bottom: 24px
@media only screen and (max-width : 500px)
  .main__catalog-wrapper
    grid-template-columns: repeat(1, 1fr)
  .catalog__cards
    grid-template-columns: repeat(1, 1fr)
@media only screen and (max-width : 390px)
  .main__form-wrapper-title
    font-size: 28px
  .filter
    width: 100%
    &__popup
      width: 100%
      padding: 16px 24px 48px 24px
  .breadcrumb__wrapper-list
    display: none
  .order__popup
    padding: 6px 10px 32px 10px
@media only screen and (max-width : 1060px) 
  br
    display: none